@model Filminurk.Models.FavouriteLists.FavouriteListIndexViewModel
<div>
	@if (!Model.Image.Any())
	{
		<p>Cannot find images</p>
	}
</div>
@if (Model.ImageTitle == "Poster")
{
	<img class="card-img-top" src="@Model.Image" asp-append-version="true"/>
}
else
{
	<img width="128" src="~/lib/defaultassets/image/noposter.png" />
}