@using Filminurk.Core.Domain
@model Filminurk.Models.Actors.ActorsCreateUpdateViewModel

@if (Model.ActorID.HasValue)
{ 
	<h1>Muuda näitleja andmed</h1>
}
else
{
	<h1>Lisa näitleja</h1>
}

<div>

	<form method="post" enctype="multipart/form-data">
		<input asp-for="ActorID" type="hidden" />
		<input asp-for="EntryCreatedAt" type="hidden" />
		<input asp-for="EntryModifiedAt" type="hidden" />

		<div class="form-group row">
			<label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="FirstName" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="LastName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="LastName" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="NickName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="NickName" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="FavouriteGenre" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<select asp-for="FavouriteGenre" asp-items="Html.GetEnumSelectList<ActorsFavouriteGenre>()">
					<option value="">-- Vali žanr --</option>
				</select>
				<span asp-validation-for="FavouriteGenre"></span>
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="HasAwards" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="HasAwards" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="American" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="American" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="MoviesActedFor" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">

				<select asp-for="MoviesActedFor" class="form-control" asp-items="ViewBag.MovieTitle" multiple>
				</select>
			</div>
		</div>


		@if (Model.ActorID.HasValue)
		{
			<input asp-action="Update" asp-controller="Actors" type="submit" class="btn btn-primary" value="Muuda" />
		}
		else
		{
			<input asp-action="Create" asp-controller="Actors" type="submit" class="btn btn-primary" value="Lisa" />
		}

		<a asp-action="Index" asp-controller="Actors" type="submit" class="btn btn-success">Tagasi loendisse</a>

		

	</form>
</div>